article.intro::before { background-image: url("../img/symbols.jpg"); }
article.no-school::before { background-image: url("../img/no-school.webp"); }
article.eao::before { background-image: url("../img/eao.gif"); }
article.challenge::before { background-image: url("../img/challenge.gif"); }
article.challenge-go::before { background-image: url("../img/challenge-go.gif"); }
article.you::before { background-image: url("../img/you.gif"); }
article.you-two::before { background-image: url("../img/you-two.gif"); }
article.motivation::before { background-image: url("../img/motivation.gif"); }
article.motivation-one::before { background-image: url("../img/motivation-one.gif"); }
article.motivation-two::before { background-image: url("../img/motivation-two.gif"); }
article.motivation-three::before { background-image: url("../img/motivation-three.gif"); }
article.motivation-four::before { background-image: url("../img/motivation-four.gif"); }
article.motivation-five::before { background-image: url("../img/motivation-five.gif"); }
article.motivation-six::before { background-image: url("../img/motivation-six.gif"); }
article.motivation-seven::before { background-image: url("../img/motivation-seven.gif"); }
article.collectif-one::before { background-image: url("../img/collectif-one.jpg"); }
article.collectif-two::before { background-image: url("../img/collectif-two.gif"); }
article.collectif-three::before { background-image: url("../img/collectif-three.gif"); }
article.collectif-four::before { background-image: url("../img/collectif-four.gif"); }
article.collectif-five::before { background-image: url("../img/collectif-five.gif"); }
article.stuck-one::before { background-image: url("../img/stuck-one.gif"); }
article.stuck-two::before { background-image: url("../img/stuck-two.gif"); }
article.stuck-three::before { background-image: url("../img/stuck-three.gif"); }
article.stuck-four::before { background-image: url("../img/stuck-four.gif"); }
article.stuck-five::before { background-image: url("../img/stuck-five.webp"); }
article.stuck-six::before { background-image: url("../img/stuck-six.gif"); }
article.retry::before { background-image: url("../img/retry.gif"); }
article.coaches-one::before { background-image: url("../img/coach-one.gif"); }
article.coaches-emily::before { background-image: url("../img/leslie.gif"); }
article.coaches-marvin::before { background-image: url("../img/april.gif"); }
article.coaches-mike::before { background-image: url("../img/rethinkthatmove.gif"); }
article.coaches-ludo::before { background-image: url("../img/ben.gif"); }
article.coaches-xavier::before { background-image: url("../img/chris.gif"); }
article.team-one::before { background-image: url("../img/team-one.gif"); }
article.team-two::before { background-image: url("../img/donna.gif"); }
article.team-three::before { background-image: url("../img/aziz.gif"); }
article.team-four::before { background-image: url("../img/team-four.gif"); }
article.team-five::before { background-image: url("../img/emily.gif"); }
article.team-lizhen::before { background-image: url("../img/ann-and-tom-parks-and-recreation.gif"); }
article.rituals-one::before { background-image: url("../img/rituals-one.gif"); }
article.rituals-two::before { background-image: url("../img/rituals-two.gif"); }
article.rituals-english::before { background-image: url("../img/rituals-english.webp"); }
article.rituals-three::before { background-image: url("../img/powerpoint.gif"); }
article.rituals-four::before { background-image: url("../img/rituals-four.gif"); }
article.rituals-five::before { background-image: url("../img/rituals-five.gif"); }
article.rituals-six::before { background-image: url("../img/clean.gif"); }
article.questions::before { background-image: url("../img/questions.gif"); }
